<ion-header>

    <ion-navbar #content color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Minha Empresa</ion-title>

        <ion-buttons end>
            <button ion-button icon-only clear type="button" (click)="saveCompanyData()">
                Salvar
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-spinner name="crescent" *ngIf="!company"></ion-spinner>
    <div *ngIf="company">
        <ion-list no-border>
            <ion-list-header>
                <ion-icon name="pricetag" item-start></ion-icon>
                Dados da empresa
            </ion-list-header>
            <ion-item>
                <ion-label floating>Razão Social</ion-label>
                <ion-input type="text" [(ngModel)]="company.Name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Nome Fantasia</ion-label>
                <ion-input type="text" [(ngModel)]="company.NameFantasy"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>CNPJ (somente números)</ion-label>
                <ion-input type="text" [(ngModel)]="company.CNPJ" maxLength="18" [brmasker]="{mask:'00.000.000/0000-00', len:18}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Inscrição Estadual (somente números)</ion-label>
                <ion-input type="text" maxLength="9" [(ngModel)]="company.IE"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Inscrição Municipal (somente números)</ion-label>
                <ion-input type="text" maxLength="8" [(ngModel)]="company.IM"></ion-input>
            </ion-item>
        </ion-list>
        <ion-list no-border>
            <ion-list-header>
                <ion-icon name="contact" item-start></ion-icon>
                Contato
            </ion-list-header>
            <ion-item>
                <ion-label floating>Telefone (somente números)</ion-label>
                <ion-input type="text" [(ngModel)]="company.Telephone" [brmasker]="{phone: true}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="text" [(ngModel)]="company.Email"></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-list-header>
                <ion-icon name="pin" item-start></ion-icon>
                Endereço
            </ion-list-header>
            <ion-item>
                <ion-label floating>CEP (somente números)</ion-label>
                <ion-input type="text" [(ngModel)]="company.CEP" [brmasker]="{mask:'00.000-000', len:10}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Rua</ion-label>
                <ion-input type="text" [(ngModel)]="company.Street"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Bairro</ion-label>
                <ion-input type="text" [(ngModel)]="company.Neighborhood"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Cidade</ion-label>
                <ion-input type="text" [(ngModel)]="company.City"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Estado</ion-label>
                <ion-input type="text" [(ngModel)]="company.State"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>