page-home {
    .btn-bot{
        position: absolute;
        text-transform: initial;
        margin-bottom: 16px;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        bottom:0px;
    }
}
