<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cadastrar Serviço</ion-title>

    <ion-buttons end>
        <button ion-button icon-only clear type="button" (click)="saveService()">
            Salvar
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-spinner name="crescent" *ngIf="!service"></ion-spinner>
    <div *ngIf="service">
        <ion-list no-border>
            <ion-list-header>
                <ion-icon name="create" item-start></ion-icon>
                Dados do Serviço
            </ion-list-header>
            <ion-item>
                <ion-label floating>Nome</ion-label>
                <ion-input type="text" [(ngModel)]="service.Description"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Preço</ion-label>
                <ion-input type="text" [(ngModel)]="service.Value" [brmasker]="{money: true}"></ion-input>
            </ion-item>
        </ion-list>
        <ion-list no-border radio-group [(ngModel)]="service.Unity">
            <ion-list-header>
                <ion-icon name="pricetag" item-start></ion-icon>
                Unidade de Medida
            </ion-list-header>
            <ion-item>
              <ion-label>Hora</ion-label>
              <ion-radio value="Hora" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Unidade</ion-label>
              <ion-radio value="Unidade"></ion-radio>
            </ion-item>
          </ion-list>
    </div>
</ion-content>
