<ion-header>

  <ion-toolbar color="primary">
    <ion-row>
				<ion-col col-2>
					<button ion-button icon-only clear color="white" class="back-prod-button" (click)="dismiss()">
						<ion-icon name="arrow-back"></ion-icon>
					</button>
				</ion-col>
				<ion-col col-10 no-padding>
					<ion-label class="header-list">
              <ion-title *ngIf="param == 'taker'">Clientes</ion-title>
              <ion-title *ngIf="param == 'services'">Serviços</ion-title>
              <ion-title *ngIf="param == 'activities'">Atividades</ion-title>
              <ion-title *ngIf="param == 'code'">Código Fiscal</ion-title>
					</ion-label>
				</ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-spinner name="crescent" *ngIf="!data"></ion-spinner>
  <div *ngIf="data">
    <div *ngIf="param == 'taker'">
        <ion-list>
          <button *ngFor="let taker of data" ion-item (click)="selectTaker(taker)">
            <ion-icon name="contact" color="cinza" item-start></ion-icon>
            <p>{{taker.Name}}</p>
            <ion-icon name="ios-arrow-forward" color="cinza" item-end></ion-icon>
          </button>
        </ion-list>
        <div class="empty" *ngIf="data && !data.length">
            <div class="empty-content">
                <h2 ion-text>Você não possui nenhum cliente cadastrado</h2>
            </div>
        </div>
    </div>
    <div *ngIf="param == 'services'">
        <ion-list>
          <ion-list-header>
            Selecione os serviços
          </ion-list-header>
          <button ion-item *ngFor="let service of data">
            <h2>{{service.Description}}</h2>
            <p>R$ {{formatReal(service.Value)}}</p>
            <button ion-button item-end *ngIf="!service.Amount" (click)="addServices(service)">Adicionar</button>
            <div item-right class="buttons" *ngIf="service.Amount">
                <button ion-button (click)="removeServices(service)">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <span style="display: inline-block; padding: 0 5px;">
                  <p>{{service.Amount}}</p>
                </span>
                <button ion-button (click)="addServices(service)">
                  <ion-icon name="add"></ion-icon>
                </button>
            </div>
          </button>
      
        </ion-list>
        <div class="empty" *ngIf="data && !data.length">
            <div class="empty-content">
                <h2 ion-text>Você não possui nenhum serviço cadastrado</h2>
            </div>
        </div>
    </div>
    <div *ngIf="param == 'code'">
        <ion-list>
          <button ion-item *ngFor="let code of data" (click)="selectCode(code)">
            <ion-note item-start>
                {{code.CFPSCod}}
            </ion-note>
            <p text-wrap>{{code.Description}}</p>
          </button>
      
        </ion-list>
        <div class="empty" *ngIf="data && !data.length">
            <div class="empty-content">
                <h2 ion-text>Nenhum código cadastrado</h2>
            </div>
        </div>
    </div>
    <div *ngIf="param == 'activities'">
        <ion-list>
          <button ion-item *ngFor="let actv of data" (click)="selectActivity(actv)">
            <ion-icon name="ios-arrow-back" color="cinza" item-start></ion-icon>
            <p text-wra>{{actv.Description}}</p>
          </button>
        </ion-list>
        <div class="empty" *ngIf="data && !data.length">
            <div class="empty-content">
                <h2 ion-text>Nenhuma atividade cadastrada</h2>
            </div>
        </div>
    </div>
  </div>
</ion-content>
