<ion-header>

  <ion-navbar #content color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Questionário</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide text-center class="slide">
      <ion-spinner name="crescent" *ngIf="!question && question != ''"></ion-spinner>
      <div class="slide-header" *ngIf="question && question != ''" padding>
        <h2 class="text-header">
          {{question.Question}}
        </h2>
      </div>
      <div class="slide-bottom" *ngIf="question && question != ''">
        <ion-list radio-group [(ngModel)]="answerId">
          <ion-item *ngFor="let answer of question.ListOptions">
            <ion-label>{{answer.Option}}</ion-label>
            <ion-radio [value]="answer.OptionId"></ion-radio>
          </ion-item>
        </ion-list>
      </div>

      <div class="button-next" text-center (click)="nextSlide()" *ngIf="question && question != ''">
        <button ion-button round>
          Próximo >
        </button>
      </div>


      <div *ngIf="question == ''">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
        <div text-center padding>
          <h3 style="color: #8e9093;">Muito obrigado pela ajuda!</h3>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>